<!DOCTYPE html>
<html lang="en">
<head>
    <!-- partial del head -->
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/register.css">
    <title>Product Creation & Edit | VEOVERDE</title>
</head>
<body>
    
    <!-- partial del header -->
    <%- include("../partials/header") %>

   <main>
    
    <form action="/products/" method="POST" class="register-form" enctype="multipart/form-data">

        <h2>CREA UN PRODUCTO</h2>
        
        <div class="register-form-input register-form-name">
            <label for="name">Nombre del producto (*)</label>
            <input type="text" name="name" id="name" value="<%= (locals.oldData ? oldData.name : null) %>" placeholder="Ej.: Lapiz Plantable"> 
        </div>
        <% if(locals.errors && errors.name){ %> 
            <div class="errores" style="color: red;">
                <%= errors.name.msg %> 
            </div>
        <% } %> 
        

        <div class="register-form-input register-form-description">
            <label for="description">Descripción (*)</label>
            <input type="textarea" name="description" id="description" value="<%= (locals.oldData ? oldData.description : null) %>" placeholder="Lápiz color negro, cuerpo natural cilíndrico y cápsula biodegradable con semillas."> 
        </div>
        <% if(locals.errors && errors.description){ %> 
            <div class="errores" style="color: red;">
                <%= errors.description.msg %> 
            </div>
        <% } %> 

        <div class="register-form-input register-form-image">
            <label for="image">Imagen (*)</label>
            <input type="file" name="image" id="image"> 
        </div>
        <% if(locals.errors && errors.image){ %> 
            <div class="errores" style="color: red;">
                <%= errors.image.msg %> 
            </div>
        <% } %> 

        <div class="register-form-input register-form-category">
            <label for="category">Categoría (*)</label>
            <select name="category_id" id="category">
                <option value="">Elige una categoria</option>
                <% categories.forEach(category => { %>
                    <option value="<%= category.id %>" <%= (locals.oldData && oldData.category_id == category.id ? "selected" : null) %> ><%= category.name %></option>
                <% }) %>
            </select>
        </div>
        <% if(locals.errors && errors.category_id){ %> 
            <div class="errores" style="color: red;">
                <%= errors.category_id.msg %> 
            </div>
        <% } %> 
        <!--
        <div class="register-form-input register-form-password">
            <label for="size">Tamaño</label>
            <div><input type="radio" name="size" id="size" value="small">Small</div>
            <div><input type="radio" name="size" id="size" value="medium">Medium</div>
            <div><input type="radio" name="size" id="size" value="large">Large</div>
            <div><input type="radio" name="size" id="size" value="jumbo">Jumbo</div>
            <div><input type="radio" name="size" id="size" value="n/a">No aplica</div>
        </div>
        -->

        <div class="register-form-input register-form-price">
            <label for="price">Precio (*)</label>
            <input type="number" step="any" name="price" id="price" value="<%= locals.oldData ? oldData.price : null %>">
        </div>
        <% if(locals.errors && errors.price){ %> 
            <div class="errores" style="color: red;">
                <%= errors.price.msg %> 
            </div>
        <% } %> 

        <h5>Todos los campos (*) son obligatorios</h5>

        <div class="register-form-submit">
            <button type="submit">CREAR PRODUCTO</button>
            <div class="product-article-a-edit">¿Quieres editar un producto existente? Para acceder a nuestra lista de productos, <a href="/products/create"><b>Haz Click Aquí</b></a> </div>
        </div>

    </form>

   </main>

    <!-- partial del header -->
    <%- include("../partials/footer") %>

</body>
</html>