<!DOCTYPE html>
<html lang="en">
<head>
   <!-- partial del head -->
   <%- include("../partials/head") %>
   <link rel="stylesheet" href="/css/product-edit.css">
   <title>Edicion de Producto | VEOVERDE</title>
</head>
<body>

    <!-- partial del header -->
    <%- include("../partials/header") %>

    <main>
        <div class= "go-back">
           <p><a href="/">Inicio</a></p> >> Editar
        </div> 


        <section class="our-products main-section">

            <div class="our-products-title">
                <h2>Edición del Producto: <%= product.name %> </h2>
            </div>

            <form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

          
                <div class="products">
                    <article class="product-article">
                        
                        <figure class="product-article-img">
                            <label for="image" style="justify-content: center;">Imagen</label>
                            <img src="/images/products/<%= product.image %>" alt="<%= product.name %>">
                            <div class="img-edit">
                                <label for="image"></label>
                                <input type="file" name="image" id="image">
                            </div>
                        </figure> 
 

                        <div class="product-article-details">
                            
                            <div class="product-title-edit">
                                <label for="name">Nombre</label>
                                <input type="text" name="name" id="name" value="<%= product.name %>"> 
                            </div>

                            <div class="product-description-edit">
                                <label for="description">Descripción</label>
                                <textarea name="description" id="description" cols="20" rows="10"><%= product.description%></textarea> 
                            </div>

                            <div class="price-edit">
                                <label for="price">Precio</label>
                                <input type="number" name="price" id="price" value="<%= product.price %>">
                            </div>

                            <div class="register-form-input register-form-phone-numbrer">
                                <label for="category">Categoría (*)</label>
                                <select name="category" id="category">
                                    <option value="">Elige una categoría</option>
                                    <% categories.forEach(category => { %>
                                        <option value="<%= category.value %>" <%= product.category === category.value ? "selected" : null%> ><%= category.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                    
                            <div class="register-form-input register-form-password">
                                <label for="size">Tamaño</label>
                                <div><input type="radio" name="size" id="size" value="small">Small</div>
                                <div><input type="radio" name="size" id="size" value="medium">Medium</div>
                                <div><input type="radio" name="size" id="size" value="large">Large</div>
                                <div><input type="radio" name="size" id="size" value="jumbo">Jumbo</div>
                                <div><input type="radio" name="size" id="size" value="n/a">No aplica</div>
                            </div>
                            
                        </div>                                               
                        <div class="product-article-button">
                            <button type="submit" class="product-article-edit-button">EDITAR<i class="far fa-edit"></i></button>
                            <a href="/products/create">¿Quieres crear un nuevo producto? ,<b>Haz Click Aquí</b></a>
                        </div>
                    </article>
                </div>
            </form>
        </section>

    </main>
    
    <!-- partial del footer -->
    <%- include("../partials/footer") %>

</body>
</html>
