<!DOCTYPE html>
<html lang="en">
<head>
   <!-- partial del head -->
   <%- include("../partials/head") %>
   <link rel="stylesheet" href="/css/product-edit.css">
   <title>Edicion de Producto | VEOVERDE</title>
</head>
<body>

    <!-- partial del header -->
    <%- include("../partials/header") %>

    <main>
        <div class= "go-back">
           <p><a href="/">Inicio</a></p> >> Editar
        </div> 


        <section class="our-products main-section">

            <div class="our-products-title">
                <h2>Edición del Producto: <%= product.title %> </h2>
            </div>

            <form action="/products/<%= product.id %>?_method=PUT" method="POST">

          
                <div class="products">
                    <article class="<%= product.class %>  product-article">
                        <!-- partial del header 
                        <figure class="product-article-img">
                            <img src="/images/<%= product.img %>" alt="<%= product.title %>">
                            <div class="img-edit">
                                <label for="user_email-confirmation"></label>
                                <input type="file" name="img" id="user_email-confirmation">
                            </div>
                        </figure> -->
 

                        <div class="product-article-details">
                            
                            <div class="product-title-edit">
                                <label for="user_name-surname">Nombre</label>
                                <input type="text" name="title" id="user_name-surname" value="<%= product.title %>"> 
                            </div>

                            <div class="product-description-edit">
                                <label for="user_email">Descripción</label>
                                <input type="text" name="description" id="user_email" value="<%= product.description %>"> 
                            </div>

                            <div class="price-edit">
                                <label for="user_password-confirmation">Precio</label>
                                <input type="number" name="price" id="user_password-confirmation" value="<%= product.price %>">
                            </div>

                            <div class="register-form-input register-form-phone-numbrer">
                                <label for="user_phone-number">Categoría (*)</label>
                                <select name="category" id="productC&E-category" value="<%= product.category %>">
                                  <option value="Papel">Papel</option>
                                  <option value="Kits">Kits</option>
                                  <option value="ProdOficina">Productos de Oficina</option>
                                  <option value="Calendarios">Calendarios</option>
                                  <option value="TarjPlantables">Tarjetas Plantables</option>
                                  <option value="BolCompostables">Bolsas Compostables</option>
                                  <option value="Otros">Otros</option>
                                </select>
                            </div>
                    
                            <div class="register-form-input register-form-password">
                                <label for="user_password">Tamaño </label>
                                  <input type="radio" name="size" id="" value="small">Small
                                  <input type="radio" name="size" id="" value="medium">Medium
                                  <input type="radio" name="size" id="" value="large">Large
                                  <input type="radio" name="size" id="" value="jumbo">Jumbo
                                  <input type="radio" name="size" id="" value="No aplica">No aplica
                                </div>
                            </div>
                            
                        </div>                                               
                        <div class="product-article-button">
                            <button type="submit" class="product-article-edit-button">EDITAR<i class="far fa-edit"></i></button>
                        </div>
                    </article>
                </div>
            </form>
        </section>

    </main>
    
    <!-- partial del footer -->
    <%- include("../partials/footer") %>

</body>
</html>
