<!DOCTYPE html>
<html lang="en">
<head>
    <!-- partial del head -->
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="css/index.css">
    <title>Home | VEOVERDE</title>
    <script src="/js/products/productList.js"></script>
</head>
<body>

    <!-- partial del header -->
    <%- include("./partials/header") %>

    <main>
        <section class="us main-section"  id="us">
            <figure class="us-figure">
                <img src="images/brand-images/nosotros.png" alt="nosotros.png">
            </figure>
            
            <!-- Todo esto iria adentro de un carrusel--->
            <div class="us-div">
                                   
                <div class="us-div-div">
                    
                    <p style="color: #1e5321;">
                       <em> Somos una empresa</em> que busca mejorar la forma en la que nos relacionamos con nuestro entorno, tanto social como ambiental. "Proponemos soluciones originales orientadas a la minimización de impactos y optimización en el uso de recursos"
                    </p> 

                    <p style="color: #204422;">                  
                       Nos guía la coherencia en nuestras acciones, honestidad en nuestros productos e impacto en nuestro trabajo.
                    </p>

                    <p style="color: #105f14;">
                       Desarrollamos, elaboramos y comercializamos productos originales que se destacan por su diseño, innovación y sustentabilidad.                   
                    </p>

                    <p style="color: #325033;">
                       Inspirados en la economía circular, impulsamos la utilización de materiales reciclados, reciclables, biodegradables y compostables.
                    </p>
                </div>
                
            </div>

        </section>

        <section class="our-products main-section">

            <div class="our-products-title">
                <h2>Nuestros Productos</h2>
            </div>

            <div class="products">

                <!-- for(){} para mostrar los productos de manera dinámica -->
                <% products.forEach(product => { %> 

                <article class="product-article">
                    <figure class="product-article-img">
                        <img src="images/products/<%= product.image %>" alt="<%= product.name %>">
                    </figure>
                    <div class="product-article-discount">
                        <p class="discount-discount">10% OFF </p>
                        <p class="discount-p">COMPRANDO</p>
                        <p class="discount-p"> 100 o MÁS</p>
                    </div> 
                    <div class="product-article-details">
                        <h4 class="product-article-description"><%= product.name %></h4>
                        <p class="product-article-price">$<%= product.price %></p>
                    </div>                                               
                    <div class="product-article-buttons">
                        <a href="/products/<%= product.id %>" class="product-article-view-button"><i class="far fa-eye"></i></a>
                    </div>
                </article>

                <% }) %> 

            </div>
        </section>

    </main>

    <!-- partial del footer -->
    <%- include("./partials/footer") %>

</body>
</html>