<!DOCTYPE html>
<html lang="en">
<head>
    <!-- partial del head -->
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/register.css">
    <title>Register | VEOVERDE</title>
    <script src="/js/users/register.js"></script>
</head>
<body>
    
  <!-- partial del header -->
  <%- include("../partials/header") %>

  <main>
    
    <form action="/users/register" method="POST" enctype="multipart/form-data" class="register-form" id="register-form"> 
      
      <h2>REGISTRARME</h2>

      <div class="register-form-input register-form-firstName">
        <label for="user_firstName">Nombres (*)</label>
        <input 
          type="text" 
          name="firstName" id="user_firstName" 
          value="<%= locals.oldData ? oldData.firstName : null %>"
          placeholder="Ej.: Juan Ignacio"
        >
        <div id="errores-firstName">

        </div>
        <% if (locals.errors && errors.firstName) { %>
          <div id="error-back-firstName" style="color: red;">
            <%= errors.firstName.msg %> 
          </div>
        <% } %>        
      </div>

      <div class="register-form-input register-form-lastName">
        <label for="user_lastName">Apellido (*)</label>
        <input 
          type="text" 
          name="lastName" id="user_lastName"
          value="<%= locals.oldData ? oldData.lastName : null %>"
          placeholder="Ej.: Perez"
        >
        <div id="errores-lastName">

        </div>
        <% if (locals.errors && errors.lastName) { %>
          <div id="error-back-lastName" style="color: red;">
            <%= errors.lastName.msg %> 
          </div>
        <% } %>
      </div>

      <div class="register-form-input register-form-email">
        <label for="user_email">E-mail (*)</label>
        <input 
          type="text" 
          name="email" id="user_email"
          value="<%= locals.oldData ? oldData.email : null %>"
          placeholder="Ej.: juanperez@gmail.com"
        >
        <div id="errores-email">

        </div>
        <% if (locals.errors && errors.email) { %>
          <div id="error-back-email" style="color: red;">
            <%= errors.email.msg %> 
          </div>
        <% } %>
      </div>

      <!--
      <div class="register-form-input register-form-email-confirmation">
          <label for="user_email-confirmation">Confirmar E-mail (*)</label>
          <input type="email" name="user_email-confirmation" id="user_email-confirmation" placeholder="Ej.: juanperez@gmail.com" required> 
      </div>

      
      <div class="register-form-input register-form-phone-numbrer">
          <label for="user_phone-number">Teléfono (Opcional)</label>
          <input type="text" name="user_phone-number" id="user_phone-number" placeholder="Ej.: 011 789-4526" required> 
      </div>

      -->

      <div class="register-form-input register-form-password">
        <label for="user_password">Contraseña (*)</label>
        <input type="password" name="password" id="user_password">
        <div id="errores-password">

        </div>
        <% if (locals.errors && errors.password) { %>
          <div id="error-back-password" style="color: red;">
            <%= errors.password.msg %> 
          </div>
        <% } %>
        <div class="register-form-show-password">
            <input type="checkbox" onclick="showPassword()">
            <p>Mostrar Contraseña</p>                   
            <script>
            function showPassword() {
              let x = document.getElementById("user_password");
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
              }
            }
            </script>
        </div>
      </div>

      <div class="register-form-input register-form-re-password">
          <label for="user_password-confirmation">Confirmar contraseña (*)</label>
          <input type="password" name="repassword" id="user_password-confirmation">
          <div id="errores-rePassword">

          </div>
          <% if (locals.errors && errors.repassword) { %>
            <div id="error-back-repassword" style="color: red;">
              <%= errors.repassword.msg %> 
            </div>
          <% } %>
          <div class="register-form-show-password">
              <input type="checkbox" onclick="showPasswordConfirmation()">  
              <p>Mostrar Contraseña</p>   
              <script>
              function showPasswordConfirmation() {
                let x = document.getElementById("user_password-confirmation");
                if (x.type === "password") {
                  x.type = "text";
                } else {
                  x.type = "password";
                }
              }
              </script>
          </div>
      </div>

      <div class="register-form-input register-form-image">
        <label for="user_image">Imagen de Perfil</label>
        <input type="file" name="image" id="user_image" accept="image/*">
        <div id="errores-image">

        </div>
        <% if (locals.errors && errors.image) { %>
          <div id="error-back-image" style="color: red;">
            <%= errors.image.msg %> 
          </div>
        <% } %>
      </div>

      <h5>Todos los campos (*) son obligatorios</h5>

      <div class="register-form-submit">
          <button type="submit" id="form-submit-button">CREAR CUENTA</button>
          <a href="/users/login">¿Ya tenés una cuenta? <b>Iniciá sesión</b></a>
      </div>

    </form>

  </main>

    <!-- partial del header -->
    <%- include("../partials/footer") %>

</body>
</html>