<!DOCTYPE html>
<html lang="en">
<head>
    <!-- partial del head -->
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/login.css">
    <title>Log In | VEOVERDE</title>
    <script src="/js/users/login.js"></script>
</head>
<body>

    <!-- partial del header -->
    <%- include("../partials/header") %>

    <main>

        <div class= "go-back">
            <p><a href="/">Inicio</a></p> >> Login
         </div> 
 

        <form action="/users/login" method="POST" class="login-form" id="login-form">

            <h2>INICIAR SESION</h2>

            <div class= "div-login-form" class="login-form-usuario">
                <label for="user-email">Correo electrónico:</label>
                <input type="text" id="user-email" name="email" value="<%= locals.oldData && !(locals.errors && errors.email) ? oldData.email : null %>" placeholder="Ej: usuario@gmail.com">
                <div id="errores-email">

                </div>
                <% if (locals.errors && errors.email) { %>
                    <div id="error-back-email" class="error-invalid">
                      <%= errors.email.msg %> 
                    </div>
                <% } %>
            </div>

            <div class= "div-login-form" class="login-form-password">
                <label for="user-password">Contraseña:</label>
                <input type="password" id="user-password" name="password" >
                <div id="errores-password">

                </div>   
                <% if (locals.errors && errors.password) { %>
                    <div id="error-back-password" class="error-invalid">
                      <%= errors.password.msg %> 
                    </div>
                <% } %>
            </div>

            <div class="login-form-show-password" style="margin-bottom: 15px;">
                <input type="checkbox" onclick="showPassword()">  
                <p style="display: inline;">Mostrar Contraseña</p>   
                <script>
                function showPassword() {
                  let x = document.getElementById("user-password");
                  if (x.type === "password") {
                    x.type = "text";
                  } else {
                    x.type = "password";
                  }
                }
                </script>
            </div>

            <!-- FALTA DEFINIR FUNCIONALIDAD
            <div class="login-forgot-password">
                <button>¿Olvidaste la contraseña?</button>
            </div>
            -->
            
            <div class= "div-login-form" style="border: 1px solid darkorange; width: 15%; margin: auto;padding: 5px; border-radius: 10px; ">
                <input type="checkbox"  name="remember_user">  Recordar mi usuario
            </div>

            <div class="login-button" >
                <button type="submit" id="form-submit-button">INICIAR SESION</button>
            </div>
            <div class="login-not-account">
                <a href="/users/register">¿Aún no tienes cuenta? <b>Crea tu Cuenta</b></a>
            </div>

        </form>

    </main>

    <!-- partial del header -->
    <%- include("../partials/footer") %>

</body>
</html>